// RESET CSS
// ===============================================================

* {
    margin: 0;
    padding: 0;
  }
  
  // VARIABLES
  // ================================================================
  
  $blue: rgb(126, 202, 218);
  $blueF: rgb(20, 60, 121);
  
  // GLOBAL
  // ================================================================
  
  body {
    background-color: $blue;
  }

  h3{
    color: $blueF;
  }
    