// RESET CSS
// ===============================================================

* {
    margin: 0;
    padding: 0;
}

// VARIABLES
// ================================================================

$blue: rgb(191, 233, 241);
$blueF: rgb(20, 60, 121);
$WhiteTrans: rgba(255, 255, 255, 0.7);

// GLOBAL
// ================================================================

body {
    background-color: $blue;

    .visiteur {
        background-image: url(../storage/fish-288988.jpg);
        background-attachment: fixed;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 1024px) {

        /* Le traitement est ici spécifique à l'image */
        img.fondecran {
            left: 50%;
            margin-left: -512px;
            /* 50% */
        }
    }
}



h3 {
    color: $blueF;
    text-align: center;
}

.cardTrans {
    background-color: $WhiteTrans !important;
}
